<div class="container" id="about-me">
    <div class="row">
        <div class="col-lg-12 mt-12 mb-12">
            <h4 class="font-headers">
                {{ (languajeBrowser)? data.esp.title: data.english.title}}
            </h4>
            <p class="font-content mt-4">
                {{ (languajeBrowser)? data.esp.text1: data.english.text1}}
            </p>
            <p class="font-content mt-4">
                {{ (languajeBrowser)? data.esp.text2: data.english.text2}}
            </p>
            <div>
                <app-technoloy-icon></app-technoloy-icon>
            </div>
        </div>
    </div>
</div>