<div class="container">
    <div class="row">
        <div class="col-lg-9 mt-5 mb-5">
            <h4 class="font-headers">
                About me
            </h4>
            <p class="font-content mt-4">
                I’m a Computer Systems Engineer, I got my degree in May 2021, and during my career I focused on web development using the stack MEAN to become into a Full-Stack developer. 
            </p>
            <p class="font-content mt-4">
                I’ve been working recently with technologies like: Python, React, Svelte, NodeJs, MySQL, MongoDB, Angular5+, Express, HTML, CSS, Git and Figma. 
            </p>
        </div>
        <div class="col-lg-3">
            <img src="/assets/img/VictorBolaosSolis.png" alt="Víctor Bolaños Solís" class="w-100 mt-5">
        </div>
    </div>
</div>