#profile-picture-cotainer {
    background-image: url('/assets/img/VictorBolaosSolis-filter-picture.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 30vh;
    padding-top: 50vh;
    transition: all 0.3s ease;
}

#profile-picture-cotainer:hover {
    background-image: url('/assets/img/VictorBolaosSolis-normal-picture.png');
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    #profile-picture-cotainer {
        height: 50vh;
    }
}

@media screen and (max-width: 1024px) {
    #profile-picture-cotainer {
        height: 50vh;
    }
}