.footer {
    z-index: -1;
    color: #fff;
    background-color: var(--space-blue);
    height: 20vh;
    clip-path: polygon(0 65%, 100% 0, 100% 100%, 0% 100%);
}

p {
    padding-top: 15vh;
}
@media (max-width: 640px) {
    p {
        padding-top: 12vh;
        font-size: .8rem;
    }
}