<div class="hero">
    <div class="container hero-container">
        <p class="font-headers" id="greet">
            {{ (languajeBrowser)? data.esp.greet: data.english.greet}}
        </p>
        <div class="name-wrapper">
            <h2 class="font-super typing-effect">
                Víctor Bolaños Solís
            </h2>
        </div>
        <p class="font-content first-description">
            {{ (languajeBrowser)? data.esp.description: data.english.description}}
        </p>
        <app-contact-buttons class="contact-buttons"></app-contact-buttons>
        <div id="profile-picture-cotainer">
            <div class="img-profile-box">
                <img src="/assets/img/victor_bolanos_solis.png" alt="Víctor Bolaños Solís">
            </div>
        </div>
    </div>
</div>