.hero {
    z-index: -1;
    height: 95vh;
    color: #fff;
    background: var(--space-blue);
    /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); */
}

.hero-container {
    padding-top: 10vh;
    display: grid;
    grid-template-columns: 70% 30%;
}

.font-headers {
    font-size: 1.4rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.font-content {
    font-size: 1.3rem;
}

.name-wrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    height: fit-content;
    place-items: left;
}

.first-description {
    padding-right: 2rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.contact-buttons {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.font-super {
    font-size: 3rem;
    font-weight: bold;
}

.typing-effect {
    width: 21ch; /* Agustar */
    /* font-size: 2rem; */
    animation: typing 2.8s steps(20), blink 0.3s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

#profile-picture-cotainer {
    transition: filter 1s;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.img-profile-box {
    transition: all 0.3s ease;
    background: #F02D3A;
    border-radius: 70px;
}

.img-profile-box img {
    width: 100%;
    border-radius: 70px;
    filter: grayscale(0.9);
}

.img-profile-box:hover {
    background: #cf8c8e;
    transform: scale(1.1);
}

.img-profile-box:hover img {
    filter: grayscale(0);
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@media (max-width: 992px) {
    .font-headers {
        font-size: 1rem;
    }
    .font-super {
        font-size: 1.6rem;
    }
    .font-content {
        font-size: 1rem;
    }
}

@media (max-width: 720px) {
    .hero-container {
        padding-top: 3vh;
        display: grid;
        grid-template-columns: 1fr;
    }
    .font-headers {
        margin-top: 4rem;
    }
    #profile-picture-cotainer {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: grid;
    }
    #profile-picture-cotainer .img-profile-box {
        width: 50%;
        place-self: center;
    }
    #greet {
        /* margin-top: 2rem; */
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .name-wrapper {
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .first-description {
        padding: .3rem;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .contact-buttons {
        grid-row-start: 5;
        grid-row-end: 6;
    }
}