<div class="hero">
    <div class="container hero-container">
        <div class="row">
            <div class="col-sm-12 col-md-11 col-lg-11">
                <p class="font-headers">
                    Hello, my name is
                </p>
                <div class="name-wrapper">
                    <h2 class="font-super typing-effect">
                        Víctor Bolaños Solís
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9">
                <p class="font-content">
                    I love creating great and useful things
                </p>
                <p class="font-content">
                    I’m a web developer from CDMX, Mexico. With a creative mindset
                    and passion for learning and innovating. I’m specializing
                    in building(and occasionally designing).
                </p>
                <app-contact-buttons></app-contact-buttons>
            </div>
        </div>
    </div>
</div>