.links-btn {
    border: 1px solid var(--space-blue);
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    font-weight: bold;
}

.technology-btn {
    font-size: 0.9rem;
    color: rgb(73, 72, 72);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--base-red);
}

.img-link {
    height: 1.2rem;
}

.mr-to-right {
    margin-right: .8rem;
}

.screen-contianer {
    border: 1px solid #B3B6B7;
    border-radius: 5px;
    padding: 10px;
}