<div class="container mt-3 mb-5" id="projects">
    <div class="row">
        <div class="col-12">
            <h4 class="font-headers">
                Some things I’ve built
            </h4>
        </div>
    </div>
    <!-- Project 1 -->
    <div class="row mt-5">
        <div class="col-lg-7">
            <img src="/assets/img/Ludus-App.png" alt="Ludus" class="w-100 mt-5">
        </div>
        <div class="col-lg-5">
            <h6 class="font-headers mb-2">
                Ludus
            </h6>
            <hr>
            <div class="mb-4">
                <a href="" class="btn btn-light technology-btn">
                    MEAN Stack
                </a>
            </div>
            <p class="font-content">
                Ludus is a prototype of a technological educational tool to bring support to primary students in topics that they need help. The main focus of the app were children between 8-12 years old.
            </p>
            <a href="" class="btn btn-light links-btn">
                <img src="/assets/icons/github.svg" alt="GitHub link" class="img-link">
                View code
            </a>
        </div>
    </div>
</div>