<div class="container mt-3 mb-5" id="projects">
    <div class="row">
        <div class="col-12">
            <h4 class="font-headers">
                Some things I’ve built
            </h4>
        </div>
    </div>
    <!-- Project 1 -->
    <div class="row mt-5">
        <div class="col-lg-7">
            <img src="/assets/img/Ludus-App.png" alt="Ludus" class="w-100 mt-5">
        </div>
        <div class="col-lg-5">
            <h6 class="font-headers mb-2">
                Ludus
            </h6>
            <hr>
            <div class="mb-4">
                <button href="" class="btn btn-light technology-btn">
                    MEAN Stack
                </button>
            </div>
            <p class="font-content">
                Ludus is a prototype of a technological educational tool to bring support to primary students in topics that they need help. The main focus of the app were children between 8-12 years old.
            </p>
            <a href="https://github.com/Vicktorbs/ludus" 
                class="btn btn-light links-btn"
                target="_blank"
                rel="noopener noreferrer">
                <img src="/assets/icons/github.svg" alt="GitHub link" class="img-link">
                View code
            </a>
        </div>
    </div>
    <!-- Project 2 -->
    <div class="row mt-5">
        <div class="col-lg-7 order-md-2">
            <img src="/assets/img/Prototipo-CMMS.png" alt="Prototipo-CMMS" class="w-100 mt-5">
        </div>
        <div class="col-lg-5 order-md-1">
            <h6 class="font-headers mb-2">
                Prototype CMMS
            </h6>
            <hr>
            <div class="mb-4">
                <button href="" class="btn btn-light technology-btn">
                    MEAN Stack
                </button>
            </div>
            <p class="font-content">
                Prototype of a computer management maintenance system, developed during my professional practices, in which I was in charge of build the Front-End using the framework Angular to give structure to the componentes. I also helped to build and desing the data base.
            </p>
            <a href="https://github.com/Vicktorbs" 
                class="btn btn-light links-btn"
                target="_blank"
                rel="noopener noreferrer">
                <img src="/assets/icons/github.svg" alt="GitHub link" class="img-link">
                View code
            </a>
        </div>
    </div>
    <!-- Project 3 -->
    <div class="row mt-5">
        <div class="col-lg-7">
            <img src="/assets/img/Fight-App.png" alt="Fight-App" class="w-100 mt-5">
        </div>
        <div class="col-lg-5">
            <h6 class="font-headers mb-2">
                Fight-App
            </h6>
            <hr>
            <div class="mb-4">
                <button href="" class="btn btn-light technology-btn">
                    Angular
                </button>
            </div>
            <p class="font-content">
                It’s a simple web game for two players where you can choose a character from Marvel or DC to fight. The game includes the actions to: attack, recovery and special attack.
            </p>
            <a href="https://github.com/Vicktorbs/fight-game-angular" 
                class="btn btn-light links-btn mr-to-right"
                target="_blank"
                rel="noopener noreferrer">
                <img src="/assets/icons/github.svg" alt="GitHub link" class="img-link">
                View code
            </a>
            <!-- <a href="/assets/files/fight-app/index.html" 
                class="btn btn-light links-btn"
                target="_blank"
                rel="noopener noreferrer">
                Try it
            </a> -->
        </div>
    </div>
    <!-- Project 4 -->
    <div class="row mt-5">
        <div class="col-lg-7 order-md-2">
            <img src="/assets/img/GifFinderApp.png" alt="GifFinderApp" class="w-100 mt-5">
        </div>
        <div class="col-lg-5 order-md-1">
            <h6 class="font-headers mb-2">
                GifFinderApp
            </h6>
            <hr>
            <div class="mb-4">
                <button href="" class="btn btn-light technology-btn mr-to-right">
                    React
                </button>
                <button href="" class="btn btn-light technology-btn">
                    Giphy API
                </button>
            </div>
            <p class="font-content">
                Using react hooks and consuming the API of giphy I built an app to let the user search gifs. The app returns a certain amount of results and keep oldest results.
            </p>
            <a href="https://github.com/Vicktorbs/gif-finder-app" 
                class="btn btn-light links-btn mr-to-right"
                target="_blank"
                rel="noopener noreferrer">
                <img src="/assets/icons/github.svg" alt="GitHub link" class="img-link">
                View code
            </a>
            <!-- <a href="https://github.com/Vicktorbs/gif-finder-app" 
                class="btn btn-light links-btn"
                target="_blank"
                rel="noopener noreferrer">
                Try it
            </a> -->
        </div>
    </div>
</div>