<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h4 class="font-headers">
                Get In Touch
            </h4>
            <p class="font-content mt-5 mb-5 col-md-12 col-lg-6 offset-lg-3">
                My inbox is always open. Whether you have a question or just want to say hello, I'll try my best to get back to you! Feel free to mail me about any relevant job updates or contact my one of my social medial.
            </p>
            <app-contact-buttons></app-contact-buttons>
        </div>
    </div>
</div>