:root {
    --space-blue: #1D2953;
    --base-red: #F02D3A;
    --base-yellow: #EEA243;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

.font-headers {
    font-size: 2rem;
    font-weight: bold;
}

.font-content {
    font-size: 1.6rem;
    font-weight: bold;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
